
    @keyframes slideIn {
        from {
          transform: translateY(-50px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
      
      // Estilo y animación para el título principal
      %tituloPrincipal {
        font-size: 3rem;
        text-align: center;
        margin-top: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        animation: slideIn 1s ease-out;
      }
      
      main {
        h1.tituloPrincipal {
          @extend %tituloPrincipal;
          color: #4B0082; 
        }
      
        .productosDestacados {
          padding: 20px;
          background-color: #f9f9f9;
      
          h2 {
            @extend %tituloPrincipal;
            color: #000; // Color negro para "Productos Destacados"
          }
      
          .producto {
            @extend %productoEstilo;
      
            img {
              @extend %productoImg;
            }
          }
      
          @media (min-width: 600px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
      
            .producto {
              flex: 1 1 calc(33.333% - 20px);
              margin: 10px;
            }
          }
        }
      }