.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    .producto {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        text-align: center;
        width: calc(33.333% - 40px);
        position: relative;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .descuento {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: red;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
    }

    @media (max-width: 768px) {
        .producto {
            width: calc(50% - 40px);
        }
    }

    @media (max-width: 480px) {
        .producto {
            width: 100%;
        }
    }
}
