
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    .producto {
        @extend %productoStylep;

        img {
            @extend %productoImgp;
        }

        .descuento {
            @extend %descuento;
        }
    }

    @media (max-width: 768px) {
        .producto {
            width: calc(50% - 40px);
        }
    }

    @media (max-width: 480px) {
        .producto {
            width: 100%;
        }
    }
}
