header{

    nav.fondoNavbar{
        background-color: #9370DB;

        div{

            a{
                img.logoTam{
                    width: 100px;
                    height: 100px;
                }
            }
        }

    }

}